version: '3.9'

services:

  webapp:
    container_name: webapp
    image: webapp
    build: ./Webapp
    ports:
      - "81:81"
    environment:
      - 
    depends_on:
      - 


  api:
    container_name: api
    image: api
    build: ./Api
    ports:
      - "80:80"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    depends_on:
      - db
  
  db:
    container_name: db
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: {}