version: '3.9'

services:
  webapp:
    container_name: webapp
    image: webapp
    build: ./Webapp
    ports:
      - "5000:5000"
    
    

  api:
    container_name: api
    image: api
    build: ./Api
    ports:
      - "5001:5001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/focus
    depends_on:
      - db
    
  
  db:
    container_name: db
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=focus
    #command: -p 5433
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}



